$color-white: #fff;

$color-black: #000;
$color-black-sh-1: #333;
$color-black-sh-2: #666;
$color-gray-base: #888;
$color-gray-lightest-shade: #f7f7f7;




$color-blue-base: #006cb5;
$color-blue-light: #0a82d4;
$color-blue-lighter: #3c95d2;
$color-blue-dark: #0468ad;
$color-blue-darker: #005088;
$color-blue-lighter-shaded-1: rgba(0, 150, 255, 0.2);
